# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Leetcode\leetcoder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/../../../../:\Leetcode\leetcoder\src/test.java
../out
